@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

ul, ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


.add-btn {
  position: fixed !important;
  bottom: 2rem;
  right: 2rem;
  min-width: auto !important;
  border-radius: 100% !important;
  width: 50px;
  height: 50px;
  box-shadow: 1px 3px 10px #000 !important;
  z-index: 9999;
}

.header {
  background: #1976d2;
  margin-bottom: 2rem;
}

.thead {
  background: #dedede;
}
.main-title {
  margin-bottom: 1rem;
}

.logo h2 {
  color: #fff;
}

.header .header-box {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
}

nav li {
  margin-left: 2rem;
}